#login-auto-box{
    height: 20px;
    .login-auto-con{
        float: left;
        font-size: 10px;
    }
    .forget{
        float: right;
        font-size: 10px;
        margin-right: 59px;
        color: #FF4965;
    }
    .forget:hover{
        opacity: 0.5;
    }
}
